.banner {
  position: relative;
  /* max-width: 1200px; */
  /* max-height: 500px; */
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.banner_img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner_overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  border-radius: 1em;
  bottom: 2em;
  left: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  color: rgb(60, 72, 176);
}

.banner_title_h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.banner_title_h2 {
  font-size: 2em;
  font-weight: 400;
}

.banner_button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #0D6EFD;
  color: white;
  font-size: 1.2em;
  box-shadow: rgb(213, 223, 240) -1px 8px 19px;
}